version: "3.8"
services:
  db:
    image: mysql:8.0
    environment:
      MYSQL_ROOT_PASSWORD: postgrespassword
      MYSQL_DATABASE: reciclaedu
      MYSQL_USER: root
      MYSQL_PASSWORD: postgrespassword
    ports:
      - "3306:3306"
    volumes:
      - db-data:/var/lib/mysql

  backend:
    build: ./backend
    environment:
      - DATABASE_URL=mysql://root:postgrespassword@db:3306/reciclaedu
      - JWT_SECRET=trocasecreta123
      - PORT=4000
    depends_on:
      - db
    ports:
      - "4000:4000"

  frontend:
    build: ./frontend
    environment:
      - REACT_APP_API_URL=http://localhost:4000/api
    ports:
      - "3000:3000"

volumes:
  db-data:
